doctype html
html(lang= 'ru-Ru')
head
    title Hello world
    link(rel='stylesheet'  href='css/style.css')
body
    p Check Pug
    .slider
        .slider-item
        .slider-item
        .slider-item
    script(src="js/libs.min.js")
    script(src="js/index.js")
